<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body>
    <%- include('partials/navbar'); %>
    <div class="center">
      <% if(message){ %>
      <h1 color="red"><%- message %></h1>
      <% } %>
      <h1>Dodawanie nowej oferty</h1>
      <h1><%- auction.name %></h1>
      <form action="/auctions/<%= auction.id %>/add-offer" method="post">
        <label for="creator">Nazwa składającego ofertę</label><br />
        <input type="text" id="creator" name="creator" /><br />
        <label for="amount">Wartość oferty</label><br />
        <input type="number" id="amount" name="amount" /><br /><br />
        <input type="submit" value="Złóż ofertę" />
      </form>
    </div>
    <style>
      h1 {
        padding: 10px 0;
      }
      label, input {
        font-size: large;
      }
    </style>
  </body>
</html>
