<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body>
    <div><%- include('partials/navbar'); %></div>
    <div class="center">
      <h1 style="padding: 10px"><%- auction.name %></h1>
      <h3>Opis: <%- auction.description %></h3>
      <h3>Zamawiający: <%- auction.creator %></h3>
      <h3>Data rozpoczęcia: <%= auction.startDateTime.toLocaleString() %></h3>
      <h3>Data zakończenia: <%= auction.endDateTime.toLocaleString() %></h3>
      <h2 style="margin: 30px">
        <span>Status: </span>
        <% if(auction.startDateTime <= auction.endDateTime){ %>
        <span style="color: red">zakończona</span>
        <% } else{ %>
        <span style="color: green">aktywna</span>
        <% } %>
      </h2>
      <button>Powrót</button>
    </div>
  </body>
  <style>
  button {
    font-size: larger;
  }
  </style>
</html>
