<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body>
    <div><%- include('partials/navbar'); %></div>
    <h1 class="center">Zakończone przetargi</h1>
    <table style="width: 100%; margin-top: 20px; margin-bottom: 20px">
      <tr class="center">
        <th>Lp</th>
        <th>Tytuł przetargu</th>
        <th>Data zakończenia</th>
        <th>Ilość ofert</th>
        <th>Budżet przetargu</th>
        <th>Status</th>
      </tr>
      <% for (var i = 0; i < auctions.length; i++) { %>
      <tr>
        <td><%= i+1 %></td>
        <td>
          <a href="/history/<%= auctions[i].id %>/details"><%= auctions[i].name %></a>
        </td>
        <td><%= auctions[i].endDateTime.toLocaleString() %></td>
        <td><%= auctions[i].offers.length %></td>
        <td><%= auctions[i].maxAmount %></td>
        <td>
          <% if(auctions[i].getDataValue('offers').find(o => o.amount <= auctions[i].getDataValue('maxAmount')) != null)
          { %>
          <span style="color: green">Rozstrzygnięty</span>
          <% } else{ %>
          <span style="color: red">Zakończony bez rozstrzygnięcia</span>
          <% } %>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
