<!DOCTYPE html>
<html>
  <%- include('partials/head'); %>
  <body>
    <div><%- include('partials/navbar'); %></div>
    <div class="center">
      <h1 style="padding: 10px 0"><%- auction.name %></h1>
      <h3>Opis: <%- auction.description %></h3>
      <h3>Zamawiający: <%- auction.creator %></h3>
      <h3>Data rozpoczęcia: <%= auction.startDateTime.toLocaleString() %></h3>
      <h3>Data zakończenia: <%= auction.endDateTime.toLocaleString() %></h3>
      <h3>Wartość przetargu: <%= auction.maxAmount %></h3>
      <h3>
        Status: <% if(properOffers.length > 0) { %>
        <span style="color: green">rozstrzygnięty</span>
        <% } else{ %>
        <span style="color: red">zakończony bez rozstrzygnięcia</span>
        <% } %>
      </h3>
      <div style="margin: 40px 0">
        <a href="/history">
          <button>Powrót do historii przetargów</button>
        </a>
      </div>

      <h2 style="margin-top: 20px">Lista złożonych ofert</h2>
      <table style="width: 100%; margin-top: 20px; margin-bottom: 20px">
        <tr>
          <th>Lp</th>
          <th>Nazwa składającego ofertę</th>
          <th>Data złożenia oferty</th>
          <th>Wartość</th>
        </tr>
        <% for (var i = 0; i < properOffers.length; i++) { %>
        <tr style="color: <% if(i===0) { %> green <% } else { %> yellow <% } %>">
          <td><%= i+1 %></td>
          <td><%= properOffers[i].creator %></td>
          <td><%= properOffers[i].dateTime.toLocaleString() %></td>
          <td><%= properOffers[i].amount %></td>
        </tr>
        <% } %> <% for (var j = 0; j < otherOffers.length; j++) { %>
        <tr style="color: red !important">
          <td><%= i+j+1 %></td>
          <td><%= otherOffers[j].creator %></td>
          <td><%= otherOffers[j].dateTime.toLocaleString() %></td>
          <td><%= otherOffers[j].amount %></td>
        </tr>
        <% } %>
      </table>
    </div>
  </body>
  <style>
    button {
      font-size: larger;
    }
  </style>
</html>
